body 
{ 
	background-position: center;
	background-attachment: fixed;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover; 
 }

h1 {
	text-align: center;
	color: blueviolet;
	font-family: Georgia, serif;
}

h2 {
	text-align: center;
	color: blueviolet;
	padding:0px 25px 0px 25px;
	font-family: Georgia, serif;
}

h3{
	text-align: left;
	color: black;
	font-family: Georgia, serif;
}

img{
	border-radius : 10px 10px;
	margin : 5px;
}

a{
	 color: #5271FF;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: blueviolet;
  text-decoration: none;

}
section{
		margin: auto;
		color:black;
		text-align: center;
		background-color:rgba(255, 255, 255, 0.90);
		border-color: rgb(0, 0, 0);
		border-radius : 10px 10px;
		max-width:800px;
	 	padding:5px 25px 10px 25px;
	 	font-family: "Gill Sans", sans-serif;
}

fieldset{
		margin: auto;
		color:black;
		text-align: justify;
		background-color:rgba(255, 255, 255, 0.90);
		border-color: rgb(0, 0 ,0);
		border-radius : 5px 50px;
		max-width:800px;
	 	padding:5px 25px 5px 25px;
	 	font-family: "Gill Sans", sans-serif;
}